FLASK_ENV=development
SECRET_KEY=change-me-now
DATABASE_URL=sqlite:///osc_shop.db
AUTH_MODE=local
APP_NAME=OSC Shop
PREFERRED_URL_SCHEME=http
ENABLE_SQLI=false
ENABLE_XSS=false
ENABLE_IDOR=false
ENABLE_UPLOAD=false
ENABLE_BRUTE_FORCE=false
ENABLE_DEBUG_ERRORS=false
